/* Merriweather, Work Sans */
* {
  margin: 0;
  padding: 0;
  font-family: Work Sans, sans-serif;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1030px;
  width: 100%;
  margin-inline: auto;
}

#header {
  padding-block: 28px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo h1 {
  font-size: 24px;
  font-weight: 600;
}

nav {
  display: flex;
  gap: 55px;
}

nav a {
  color: rgba(16, 24, 40, 1);
  font-size: 16px;
  font-weight: 500;
}

nav a:focus {
  color: #09789e;
}

.header button {
  width: 137px;
  height: 40px;
  border-radius: 47px;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  background: rgba(16, 24, 40, 1);
}

#main {
  padding-block: 50px;
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-text {
  width: 510px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main-text h4 {
  color: rgba(152, 162, 179, 1);
  font-size: 20px;
  font-weight: 500;
}

.main-text h1 {
  color: rgba(16, 24, 40, 1);
  font-size: 36px;
  width: 460px;
}

.main-text p {
  font-size: 16px;
  color: rgba(71, 84, 103, 1);
  line-height: 26px;
  font-family: Merriweather, sans-serif;
  font-weight: 300;
}

.main-btn {
  display: flex;
  align-items: center;
  gap: 20px;
}
.main-btn button:first-child {
  width: 167px;
  height: 40px;
  background: rgba(16, 24, 40, 1);
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.main-btn button:last-child {
  color: rgba(16, 24, 40, 1);
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: none;
}
.main-btn button ion-icon {
  font-size: 18px;
}

.main-counter .box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.counter-icon {
  width: 70px;
  height: 70px;
  background: #bee1e6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.main-counter {
  display: flex;
  align-items: center;
}
.main-counter .box h1 {
  width: 160px;
  font-size: 26px;
  font-weight: 600;
  color: rgba(16, 24, 40, 1);
}

.main-counter .box h1 span {
  font-size: 16px;
  color: #66718b;
  font-weight: 500;
}

.main-image {
  display: flex;
  justify-content: flex-start;
  max-width: 500px;
  width: 100%;
  position: relative;
}

.main-image img {
  width: 55%;
}

.main-table {
  max-width: 220px;
  width: 100%;
  position: absolute;
  top: 192px;
  right: 52px;
}

.square-blue {
  position: absolute;
  top: -69px;
  right: 216px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #c9e5ea;
}

.square-main {
  position: relative;
  top: -15px;
  left: -16px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #ffddd2;
}

.square-pink {
  position: absolute;
  bottom: 0;
  left: 56px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #ffddd2;
}
